body{
    padding: 0;
    margin: 0;
    font-family: Roboto;
}
.container{
    display: flex;
    height: 100%;
}
#footer{
    background-color: #2e3242;
    height: 50px;
    width: 100%;
    margin-bottom: 0;

}
#sidebar{
    background: #1f222d;
    flex: 2;
}
#content{
    background: #edf0f2;
    flex: 7;
    justify-content: space-between;
}
.row{
    flex-direction: row;
}
.column{
    flex-direction: column;
}
.js_sp_bt{
    justify-content: space-between;
}
.col_white{
    color: #fff;
}
.line{
    border-bottom: 1px solid #353a4d;
}

/*####################### Sidebar ####################################################*/
#sidebar_first{
    background-color: #304ffe;
    height: 70px;
    line-height: 70px;
    padding: 0 30px;
    justify-content: space-around;
}
#sidebar_first span{
    font-size: 22px;
    font-weight: 500;
}
#sidebar_first span i{
    width: 30px;
    height: 30px;
    border-radius: 3px;
    line-height: 30px;
    text-align: center;
}
#sidebar_first span i:hover{
    background-color: #243cbf;
    cursor: pointer;
}
.circle{
    width: 60px;
    border-radius: 50%;
}
#sidebar_second{
    padding: 30px 35px;
    height: 50px;
}
#second_texts{
    padding: 0 30px;
}
#profile{
    color: #a5a7ab;
    font-size: 13px;
    margin-top: 20px;
}
.menu{
    height: 55px;
    line-height: 55px;
    padding: 0 35px;
    font-size: 14px;
    color: #abadb3;
    justify-content: space-between;
}
.menu:hover{
    background-color: #2e3242;
}
.menu i{
    font-size: 18px;
    line-height: 55px;
    padding-right: 5px;
    cursor: pointer;
}
.fx_e{
    align-self: flex-end;
}
.mess_gr{
    background-color: #8aaa28;
    border-radius: 10px;
    padding: 3px 8px;
}
.mess_rd{
    background-color: #ff5252;
    border-radius: 10px;
    padding: 3px 8px;
}
/*####################### End Sidebar ################################################*/

/*####################### Content #####################################################*/
#content_first{
    height: 70px;
    background-color: #fff;
    padding: 0 30px;
    line-height: 70px;
}
.col_grey{
    color: #2e3242;
}
.refresh{
    font-size: 30px;
}
.search{
    width: 300px;
    font-size: 24px;
    height: 40px;
    border: 1px solid #cecece;
    background: #F6F6f6;
    border-radius: 50px;
}
.search:hover{
}

/*######################## End Content ##################################################*/